body {
  font-family: "Rasa", serif;
  font-weight: 300;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

button {
  background: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*header > ul */
.navmenu {
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.navmenu a:hover {
  color: #a7bea9;
  text-decoration: underline;
}

/* section 1   */
#about-me {
  display: flex;
  padding: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#profile-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.profile-container {
  margin: 5%;
}
