.navbar-brand {
  padding: 23.5px 20px;
  font-size: 18px;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  padding: 20px 8px;
  margin: 0px 3px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  position: static;
}

.nav-item.active {
  color: #6163ff;
}

.nav-item:hover {
  color: #6163ff;
  text-decoration: underline;
}

a {
  color: inherit !important;
}

.nav-link {
  padding: 5px;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.fa-angle-down {
  padding-left: 10px;
}

.fa-icon {
  font-size: 30px;
  color: #fff;
  background-color: pink;
  margin: 2px 10px 5px 0px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.dropdown-menu {
  margin-top: 0px;
  border: none;
  background-color: #f3e5f5;
  padding: 50px 50px 30px 50px;
}

#dropdown-menu1 {
  position: absolute;
  left: 165px;
}

#dropdown-menu2 {
  position: absolute;
  left: 285px;
}

#dropdown-menu3 {
  position: absolute;
  left: 415px;
}

.tab {
  margin-bottom: 20px;
  width: 230px;
}

.tab:hover {
  color: #e91e63 !important;
}

.dropdown-item {
  padding: 0px;
}

.dropdown-item:hover {
  background-color: inherit;
}

@media (max-width: 767px) {
  .nav-item {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }

  .dropdown-menu {
    left: 0 !important;
    position: relative !important;
    padding: 20px;
  }
}
#logout-btn {
  background: #6163ff;
  color: white;
}
