.list-demandes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2% 5%;
}
.demande-title {
  text-align: center;
  color: #5e889e;
}
.list-demande-container {
  margin-bottom: 5%;
}
