:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.box-demande p {
  color: var(--grayishBlue);
}

.box-demande {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

.box-demande img {
  float: right;
}

@media (max-width: 450px) {
  .box-demande {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box-demande {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.orange {
  border-top: 3px solid var(--orange);
}
.box-demande h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    top: 150px;
  }
  /* .box-demande {
    width: 20%;
  } */
  .header p {
    width: 30%;
  }
}
.approvedDemande {
  display: flex;
  justify-content: space-between;
}
.done-task {
  display: flex;
  justify-content: space-around;
}
